.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 36px;
  color: #333;
}

.header p {
  font-size: 18px;
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.add-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #7896b6;
  text-align: left;
}

th {
  background-color: #7896b6;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .header h1 {
    font-size: 28px;
  }
  
  .header p {
    font-size: 16px;
  }
}

.bookings-container {
  margin-top: 20px;
}

.bookings-container h1 {
  font-size: 24px;
  color: #333;
}

.booking-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.booking-item button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.booking-item button:hover {
  background-color: #0056b3;
}

.review-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-modal h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.review-modal label {
  display: block;
  margin-bottom: 10px;
}

.review-modal input[type="number"],
.review-modal textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.submit-review-button,
.cancel-review-button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-review-button:hover,
.cancel-review-button:hover {
  background-color: #0056b3;
}
